.not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  gap: 1vmin;

  &__error {
    text-align: center;
    font-size: 5rem;
    width: 100%;
  }

  &__text {
    color: black;
    text-align: center;
    font-size: 2em;
    width: 100%;
  }
}