@use "../../styles/partials/mixins" as *;

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.footer {
    background-color: black;
    color: white;
    padding: 1rem;
    display: flex;
    justify-content: center;
    border-top: 0.125rem solid white;
    margin-top: auto;

    @include tablet {
        padding-inline: 1.5rem;
    }

    &__rights {
        font-size: .75rem;
        align-self: center;

        @include tablet {
            font-size: .875rem;
        }
    }
}