.items-list {
    &__table {
        padding-inline: 1.5rem;
        width: 90%;
        margin: auto;
    }

    &__button {
        display: flex;
        justify-content: flex-end;
        margin: 1rem;
    }
}