@use "../../styles/partials/mixins" as *;

.homepage {
    background-image: url(../../assets/images/background2.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
    padding-inline: 1rem;
    position: relative;


    @include tablet {
        background-size: cover;
        padding-inline: 1.5rem;
    }

    &__form {
        background-color: rgba(234, 231, 231, 0.777);
        width: 50%;
        box-shadow: .625rem .625rem .625rem rgba(245, 245, 245, 0.743);
        position: absolute;
        top: 60px;
        border-radius: .3125rem;



    }
}